<div class="container-subprocess-investigation">
  <div class="subprocess-control-container">
    <form class="domination-control-container" [formGroup]="domCompOptions" (ngSubmit)="onCaculateDominatingVertices()">
      <mat-form-field>
        <mat-label>Metric Threshold</mat-label>
        <input matInput type="number" placeholder="Ex. 0.2" [formControl]="metricThresholdControl" min="0">
        <mat-error *ngIf="metricThresholdControl.invalid">Min 0</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Metric Surprise</mat-label>
        <input matInput type="number" placeholder="Ex. 0.2" [formControl]="metricSurpriseControl" min="0">
        <mat-error *ngIf="metricThresholdControl.invalid">Must be in [0, 1]</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Domination</mat-label>
        <input matInput type="number" placeholder="Ex. 0.2" [formControl]="metricBwdDomControl" min="0">
        <mat-error *ngIf="metricThresholdControl.invalid">Must be in [0, 1]</mat-error>
      </mat-form-field>
      <button mat-button type="submit">Calculate</button>
    </form>
    <button mat-button (click)="addCornerstone()">Add Cornerstone</button>
    <button mat-button (click)="addCornerstoneWithContext()">Add Cornerstone + Context</button>
  </div>
  <div class="domination-vertex-display-container mat-elevation-z8">
    <div class="loading-shade"
        *ngIf="isLoadingVertices">
      <mat-spinner></mat-spinner>
    </div>

    <div class="domination-vertex-table-container">
      <table mat-table [dataSource]="dominatingVertices" class="domination-vertex-table"
            matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
        <!-- Activities Column -->
        <ng-container matColumnDef="activities">
          <th mat-header-cell *matHeaderCellDef>Activities</th>
          <td mat-cell *matCellDef="let row">{{row.activities.join(', ')}}</td>
        </ng-container>

        <!-- Metric Column -->
        <ng-container matColumnDef="metric">
          <th mat-header-cell *matHeaderCellDef>Metric</th>
          <td mat-cell *matCellDef="let row">{{row.metric}}</td>
        </ng-container>

        <!-- Condition column Column -->
        <ng-container matColumnDef="condactivities">
          <th mat-header-cell *matHeaderCellDef>Conditioned on Activities</th>
          <td mat-cell *matCellDef="let row">{{row.conditionActivities !== null ? row.conditionActivities.join(', ') : ''}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr 
          mat-row 
          [ngClass]="{'highlight': (selectedVertex !== undefined) ? selectedVertex.id == row.id : false}"
          (click)="onItemsetSelected(row)"
          *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>
  </div>

</div>
