<mat-drawer-container id="component-container">
<h1>Sessions</h1>
<p *ngIf="sessionList === undefined">Currently there are no sessions.</p>
<p *ngIf="sessionList === undefined">(Click on home button to create one)</p>
<div class="sessions-table-container" *ngIf="sessionList">
    <table mat-table [dataSource]="sessionList" class="domination-vertex-table"
        matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
        <!-- Session Name -->
        <ng-container matColumnDef="sessName">
            <th mat-header-cell *matHeaderCellDef>Session</th>
            <td mat-cell *matCellDef="let row">{{row.sessName}}</td>
        </ng-container>

        <!-- Session Description -->
        <ng-container matColumnDef="sessDesc">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let row">{{row.sessDescription}}</td>
        </ng-container>

        <!-- Switch to Session column-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr 
            mat-row 
            (click)="onSessionSelected(row)"
            *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>
</div>
</mat-drawer-container>
